<div id="outPopUp" class="container">
    <div class="row">
        <div id="textcent" class="col-md-6 mt-5 mx-auto">
            
                <h1 class="text center">FAQ</h1>
                <br>
            <div class="box">
                <br>
                <div class="faqs">
                    <img src="assets/run3.jpg" style="width:100%">
                   <details>
                      <summary>What do I need to bring to the race kit collection?</summary>
                      <br>
                      <p align="justify" class="text">Just bring your phone! 
                        Just show us the e-tickets on your JomRun app and youre good to go!
                        </p>
                   </details>
                   <details>
                      <summary>Can I collect the race kit on behalf of others?</summary>
                      <br>
                      <p align="justify" class="text">Yes, you may! Just ask them to send a screenshot of their e-tickets to you and youll 
                        be able to collect for all your friends and family members.
                        </p>
                   </details>
                   <details>
                      <summary>I was unable to attend the event. Can I claim the medal?</summary>
                      <br>
                      <p align="justify" class="text">The finisher medal will only be given to finishers. 
                        Only participants who have finished the race are entitled to the medal. Hope to see you at our next event!
                      </p>
                   </details>
                </div>
             </div>
             <br>
             <br>
        </div>
    </div>
