<div id="outPopUp" class="container">
    <div class="row">
        <div id="textcent" class="col-md-6 mt-5 mx-auto">
            
                <img src="assets/1.jpg" style="width:100%">
                <br>
                <br>
                <h1 style="text-align:center">ABOUT</h1>

                <br>
                <p align="justify">We help people find and register for the best fitness and endurance events, all in one place. Find running races, triathlons, obstacle races, functional fitness competitions, yoga events, fitness related events and many more. 
                  We are geared up to expand our services globally and to help people build a quality lifestyle. Together we build a better future.
                </p>
            <br>
            <h2 id="tagging" style="text-align:center">ADMINISTRATORS</h2>
            
            <br>
            <div class="row">
              <div class="column">
                <div class="card">
                  <img src="" style="width:20%">
                  <div class="container">
                    <br>
                    <h2 style="text-align:center">NURUL JANNAH BINTI SHAHROL NIZAM</h2>
                    <p class="title" style="text-align:center">Admin </p>
                    <p style="text-align:center">jannah@gmail.com</p>
                  </div>
                </div>
              </div>
              <br>
<br>
    
<br>
<br>
    
<br>
<br>
    
<br>
<br>
    
<br>
<br>
    
<br>
<br>
    
<br>
<br>


              